body {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/index/1.jpg);
	font-family: Segoe UI Semibold;
	color: black;
}
i {
	color: #446494;
}

/* menu bar */
#mySidenav a {
    position: absolute;
    left: -130px;
    transition: 0.5s; 
    padding: 13px;
    width: 150px;
    text-decoration: none;
    font-size: 20px; 
    color: white;
    border-radius: 0 5px 5px 0;
}
#mySidenav i {
	color: white;
}
#mySidenav {
  position: fixed;
  top: 7%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0.7;
}
#mySidenav a:hover {
    left: 0; 
}
#home {
    top: 40px;
    background-color: #555;
}

#portfolio {
    top: 100px;
    background-color: #555;
}

#merits {
    top: 160px;
    background-color: #555;
}

#works {
    top: 220px;
    background-color: #555;
}
#contact {
    top: 280px;
    background-color: #555;
}
#invi {
	font-size: 5px;
	color: #555;
}
/* names */
#name {
	font-size: 50px;
	font-family: Lucida Fax;
	color: black;
}
#name2 {
	position: inline-block;
	padding: 15px;
	font-size: 50px;
	font-family: Lucida Fax;
	color: white;
	left: 20%;
}
#name3 {
	position: relative;
	font-size: 50px;
	font-family: Lucida Fax;
	color: white;
	text-align: left;
}
span {
	font-size: 30px;
	font-family: Lucida Fax;
	color: black;
}
.text {
  text-align: left;
  position: absolute;
  top: 160%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: black;
  list-style: none;
  font-size: 25px;
}
/* paralax */
.pimg1, .pimg2, .pimg3, .pimg4 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;  
	z-index: 0;
}

.pimg1 {
	min-height: 70vh;
	background-image: url(../images/portfolio/picture.jpg);
}
.pimg2 {
	min-height: 50vh;
	background-image: url(../IMAGES/portfolio/title.jpg);
	background-size: cover;
}
.sticky {
	padding: 15px;
	font-size: 30px;
	background-color: #446494;
	color:white;
	margin-bottom: 10px;
}
.sticky2 {
	padding: 50px;
	font-size: 50px;
	background-color: #446494;
	color:white;
	margin-bottom: 10px;
	margin-left: 10px;
	min-width: 10vh;
	min-height: 75vh;
}
.sticky2 p {
	font-size: 20px;
	text-align: justify;
	padding: 25px;
}
#strength {
	position: absolute;
	top: 13%;
	left: 8%;
	font-size: 20px;
	color: white;
}
.main {
	display: grid;
	padding:0;
	margin-bottom: 20px;
	
}
.pic-left {
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 20px;
}
.pic-left-first {
	padding: 0;
	margin-left: 20px;
	text-align:center;
}
.pic-left-second {
	padding: 0;
	text-align:center;
}
/* testimonial */
.container1 {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  
}
.container1::after {
  content: "";
  clear: both;
  display: table;
}
.container1 img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.container1 i {
	font-size: 20px;
	text-align: center;
}
@media (max-width: 500px) {
.container1 {
    text-align: center;
 }
 
.container1 img {
    margin: auto;
    float: none;
    display: block;
}
}
/* experiment */
.secondmain {
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap: 3px;
	grid-template-columns: 1fr 1fr;
	margin-top: 10px;
}
.onesecondmain {
	padding: 2px;
	text-align:center;
}
.twosecondmain {
	padding: 2px;
	text-align:center;
}
