body {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/index/1.jpg);
	font-family: Segoe UI Semibold;
	color: black;
}
i {
	color: #446494;
}
.content a {
	font-size: 30px;
	font-family: Lucida Fax;
	color: #446494;
}
.content p {
	font-size: 20px;
	font-family: Lucida Fax;
	color: black;
}
.content li {
	font-size: 15px;
	font-family: Segoe UI Semibold;
	color: black;
	list-style: none;
}
/* menu bar */
#mySidenav a {
    position: absolute;
    left: -130px;
    transition: 0.5s; 
    padding: 13px;
    width: 150px;
    text-decoration: none;
    font-size: 20px; 
    color: white;
    border-radius: 0 5px 5px 0;
	box-sizing: content-box;
}
#mySidenav i {
	color: white;
}
#mySidenav {
  position: fixed;
  top: 7%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.7;
}
#mySidenav a:hover {
    left: 0; 
}
#home {
    top: 40px;
    background-color: #555;
}

#portfolio {
    top: 100px;
    background-color: #555;
}

#merits {
    top: 160px;
    background-color: #555;
}

#works {
    top: 220px;
    background-color: #555;
}
#contact {
    top: 280px;
    background-color: #555;
}
#invi {
	font-size: 5px;
	color: #555;
}
/* names */
#name {
	font-size: 40px;
	color: black;
}
#name2 {
	position: inline-block;
	padding: 15px;
	font-size: 50px;
	font-family: Lucida Fax;
	color: white;
	left: 8%;
}
#name3 {
	position: relative;
	padding: 15px;
	font-size: 50px;
	font-family: Lucida Fax;
	color: white;
	left: 8%;
}
/* paralax */
.pimg1, .pimg2, .pimg3, .pimg4 {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;  
	z-index: 1;
}

.pimg1 {
	min-height: 70vh;
	background-image: url(../images/work/cover1.jpg);
}
.sticky {
	padding: 10px;
	font-size: 30px;
	background-color: #446494;
	color:white;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
}
.sticky2 {
	padding: 1px;
	font-size: 30px;
	background-color: #446494;
	color:white;
	margin: 1px;
	z-index: 1;
	position: relative;
}